<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dunzung.cloud.security.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dunzung.cloud.security.entity.UserEntity">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="real_name" property="realName"/>
        <result column="org_id" property="orgId"/>
        <result column="mobile_phone" property="mobilePhone"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="created_tm" property="createdTm"/>
        <result column="creator" property="creator"/>
        <result column="modified_tm" property="modifiedTm"/>
        <result column="modifier" property="modifier"/>
    </resultMap>

    <sql id="qry_columns">
        u.user_id,
        u.user_name,
        u.password,
        u.real_name,
        u.org_id,
        u.mobile_phone,
        u.status,
        u.remark,
        u.created_tm,
        u.creator,
        u.modified_tm,
        u.modifier
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="qry_columns"/>
        FROM plt_sec_user u
        <where>
            <if test="status != null ">
                and u.status = #{status}
            </if>
        </where>
        LIMIT #{page}, #{limit}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        plt_sec_user u
        <where>
            <if test="status != null and status!=''">
                and status=#{status}
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="qry_columns"/>
        FROM plt_sec_user u
        WHERE u.user_id = #{_parameter}
    </select>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        <include refid="qry_columns"/>
        FROM plt_sec_user u
        WHERE u.user_name = #{userName}
    </select>


    <update id="updateById">
        UPDATE plt_sec_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="orgId != null and orgId != ''">org_id = #{orgId},</if>
            <if test="mobilePhone != null and mobilePhone != ''">mobile_phone = #{mobilePhone},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createdTm != null">created_tm = #{createdTm},</if>
            <if test="creator != null and creator!=''">creator = #{creator},</if>
            <if test="modifiedTm != null">modified_tm = #{modifiedTm},</if>
            <if test="modifier != null and modifier!=''">modifier = #{modifier},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <insert id="insert" parameterType="com.dunzung.cloud.security.entity.UserEntity" useGeneratedKeys="true"
            keyProperty="userId">
        insert into plt_sec_user
        (
          user_name, password, real_name, org_id, mobile_phone, status, remark, created_tm, creator, modified_tm, modifier
        )
        values
        (
          #{userName}, #{password},#{realName},#{orgId},#{mobilePhone},#{status},#{remark},#{createdTm},#{creator},#{modifiedTm},#{modifier}
        )
    </insert>

    <delete id="deleteById">
      DELETE FROM plt_sec_user WHERE user_id = #{_parameter}
    </delete>

</mapper>
